*{
           box-sizing: border-box;
           padding: 0;
           margin: 0;
           font-family: tahoma;
}
body{
           background-color: rgb(255, 213, 150);
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100vh;
}
a{
           border: 1px solid #0005;
           color: rgb(0, 0, 0);
           padding: 15px ;
           border-radius:15px ;
           text-decoration: none;
           display: block;
           width: 300px;
           text-align: center;
           box-shadow: ;
}